<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="Css.Discord.Email" value="input[class='inputDefault-_djjkz input-cIJ7To inputField-4g7rSQ']" />
		<add key="Css.Discord.Password" value="input[class='inputDefault-_djjkz input-cIJ7To']" />
		<add key="Css.Discord.ButtonLogin" value="button[class='marginBottom8-AtZOdT button-3k0cO7 button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeLarge-1vSeWK fullWidth-1orjjo grow-q77ONN']" />
		<add key="Css.Discord.MessageElement" value="div[class='markup-2BOw-j messageContent-2qWWxC']" />
		
		<add key="Css.Telegram.Phone" value="input[name='phone_number']" />
		<add key="Css.Telegram.MessageElement" value="div[class='im_message_text']" />

		<add key="Discord.Email" value="{yours}" />
		<add key="Telegram.Phone" value="{yours}" />
		
		<add key="Discord_Binance_Mega_Pump_CryptoCurrency_Investment_Group" value="https://discord.com/channels/395316379353612288/501445667441475614" />
		<add key="Discord_Kucoin_Pump_Signal" value="https://discord.com/channels/706205118391124019/706219460574314637" />
		<add key="Discord_WallStreetBets_Kucoin_Pumps" value="https://discord.com/channels/779478664844148757/840108367594782760" />
		<add key="Discord_Well_Played_Pumps" value="https://discord.com/channels/806414956576374784/831667351560519700" />
		<add key="Discord_Yobit_Push_Signals" value="https://discord.com/channels/816371734625910814/816612264118976512" />

		<add key="Environment.Telegram.Test" value="https://web-telegram.ru/#/im?p=c1206475650_16632166108943606791" />
		<add key="Environment.Telegram.Kucoin.Production" value="https://web-telegram.ru/#/im?p=@KucoinPumpChannel" />
		
		<add key="Binance.Key" value="{yours}" />
		<add key="Binance.Secret" value="{yours}" />
		
		<add key="Kucoin.Key" value="{yours}" />
		<add key="Kucoin.Secret" value="{yours}" />
		<add key="Kucoin.PassPhrase" value="{yours}" />
	</appSettings>
	
</configuration>